<div class="page-header">
  <child-comp></child-comp>
</div>
<div class="panel">
  <div class="form-inline">
    <div class="form-group">
      <div class="col-md-8">
        <input bold class="form-control" [(ngModel)]="text" placeholder = "Название" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <input bold type="number" class="form-control" [(ngModel)]="price" placeholder="Цена" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button bold class="btn btn-default" (click)="addItem(text, price)">Добавить</button>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th bold>Предмет</th>
      <th bold>Цена</th>
      <th bold>Куплено</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td bold>{{item.purchase}}</td>
      <td bold>{{item.price}}</td>
      <td><input type="checkbox" [(ngModel)]="item.done" /></td>
    </tr>
    </tbody>
  </table>
</div>
